<app-card [title]="'Current Time Zone'" [timeZone]="currentTimeZone" [localTime]="currentTime" (update)="onUpdateCurrentTime()" [isCurrent]="true"></app-card>
@if(selectedZone){
    <app-card 
        [title]="'Selected Time Zone'" 
        [timeZone]="selectedZone" 
        [localTime]="selectedZoneLocalTime" 
        (update)="onUpdateLocalTime()" 
        (makeCurrent)="onMakeCurrent($event)"
        [searchTerm]="searchTerm">
    </app-card>
}

<app-time-zones
  (zoneSelected)="onZoneSelected($event)"
  (searchTermChange)="onSearchTermChange($event)"
></app-time-zones>

